<html>
<body>

  <p align=center><img src='https://www.navsea.navy.mil/Portals/103/Images/NUWC_Newport/150918-N-XQ823-033.jpg' align=center>
  <h1 align=center>{{ ansible_hostname }} --- {{ iis_test_message }}

</body>
</html>
