<html>
<body>

  <p align=center><img src='https://media.defense.gov/2021/Apr/09/2002617632/-1/-1/0/210408-N-N0180-0002.PNG' align=center>
  <h1 align=center>{{ ansible_hostname }} --- {{ iis_test_message }}

</body>
</html>
