<html>
<body>

  <p align=center><img src='https://media.defense.gov/2020/Aug/20/2002481275/-1/-1/0/200820-N-ZF834-1001.PNG' align=center>
  <h1 align=center>{{ ansible_hostname }} --- {{ iis_test_message }}

</body>
</html>
