<html>
<body>

  <p align=center><img src='https://www.westchestergov.com/images/stories/brand/logo_green.jpg' align=center>
  <h1 align=center>{{ ansible_hostname }} --- {{ iis_test_message }}

</body>
</html>
