<html>
<body>

  <p align=center><img src='https://www.sgu.edu/wp-content/uploads/2019/08/SGU-SOM-Centered-Logo-Grenada-Color.png' align=center>
  <h1 align=center>{{ ansible_hostname }} --- {{ iis_test_message }}

</body>
</html>
