<html>
<body>

  <p align=center><img src='https://assets.simpleviewinc.com/simpleview/image/upload/v1/clients/westchesterny/default_4090c6c7-5b1f-48c9-b71e-48eac66bc360.png' align=center>
  <h1 align=center>{{ ansible_hostname }} --- {{ iis_test_message }}

</body>
</html>
